# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.lof
*.lot
*.dvi
*.idx
*.ind
*.ilg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
.env
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# System
.DS_Store
